<div class="container my-5">

    <div class="row">
    　<h1>投稿フォーム</h1>
    </div>

    <% if @comic.errors.any? %>
     <font size="3" color="red">投稿失敗しました。入力事項を確認してください</font>
　　<% end %>

    <%= form_with model: @comic, local:true do |f| %>

    <div class="row mt-5">

        <div class="col-sm-4">
        <%= f.label :作品画像 %>
        <%= f.attachment_field :image, class: 'img_field' %>
        <%= attachment_image_tag @comic, :image, :fill, 150, 150, fallback: "no_image.jpg", onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev'  %>
        </div>

        <div class="col-sm-7">
            <div class="form-group row">
                <%= f.label :ジャンル, class: "col-sm-4" %>
                <%= f.collection_select :genre_id, Genre.all, :id, :name,  include_blank: "ジャンル選択", class: "form-control col-sm-8" %>
                <%= link_to new_genre_path do %>
                  <%= f.submit :ジャンル追加, class: "btn btn-primary" %>
                <% end %>
            </div>
            <div class="form-group row">
                <%= f.label :作者, class: "col-sm-4" %>
                <%= f.text_field :author, class: "form-control col-sm-8" %>
            </div>
            <div class="form-group row">
                <%= f.label :出版社, class: "col-sm-4" %>
                <%= f.text_field :publisher, class: "form-control col-sm-8" %>
            </div>
            <div class="form-group row">
                <%= f.label :作品名, class: "col-sm-4" %>
                <%= f.text_field :title, class: "form-control col-sm-8" %>
            </div>
            <div class="form-group row">
                <%= f.label :あらすじ, class: "col-sm-4" %>
                <%= f.text_area :body, class: "form-control col-sm-12" %>
            </div>
            <div class="col-sm-2 mt-auto ml-10">
        　       <%= f.submit :作品登録, class: "btn btn-primary" %>
            </div>
        </div>

    </div>

    <% end %>
</div>

<script type="text/javascript">
    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $('.img_field').change(function () {
    readURL(this);
  });
</script>