<h1>投稿フォーム</h1>
<%= form_with model: @comic, local:true do |f| %>
  <%= f.label :作品画像 %>
  <%= f.attachment_field :image %>

   <%= f.label :ジャンル %>
   <%= f.collection_select :genre_id, Genre.all, :id, :name,  include_blank: "ジャンル選択", class: "form-control col-sm-8" %>

   <%= f.label :作者 %>
   <%= f.text_field :author %>

   <%= f.label :出版社 %>
   <%= f.text_field :publisher %>

   <%= f.label :作品名 %>
   <%= f.text_field :title %>

  <%= f.label :あらすじ %>
  <%= f.text_area :body %>

  <%= f.submit '投稿' %>
<% end %>