<div class="container my-5 custom-gutters-pro">
 <div class="row">
   <div class="col md-5">
        <p><%= attachment_image_tag @comic, :image, size: "240x400", format: 'jpeg', fallback: "no_image.jpg" %></p>
        <% if @comic.user == current_user %>
            <%= link_to "作品を削除", comic_path(@comic), method: :delete %>
        <% end %>
  </div>

   <div class="col md-5 m-5">
        <p>作品名：<%= @comic.title %></p>
        <p>あらすじ：<%= @comic.body %></p>
        <p>ジャンル:<% if @comic.genre %><%= @comic.genre.name %><% end %></p>
        <p>作者：<%= @comic.author %></p>
        <p>出版社：<%= @comic.publisher %></p>
        <p id="star">平均評価 :</p>
        <p>コメント件数：<%= @comic.reviews.count %></p>
        <% if @comic.not_reviewd?(current_user) %>
                <%= form_with(model:[@comic, @review], local: true) do |f| %>
                    <div  id="form_star" >
                        <%= f.label :rate,'評価:' %>
                        <%= f.hidden_field :rate, id: :review_star %>
                    </div>
                    <%= f.text_area :body,placeholder: "未記入でも、評価のみで投稿できます" %>
                    <%= f.submit "投稿する" %>
                <% end %>
        <% else %>
          <h5 class="text-danger">評価済(再評価する場合は評価を削除してください)</h5>
        <% end %>
    </div>
</div>

     <div class="container my-5 custom-gutters-pro">
         <div class="col md-8 m-5">
         <table>
            <thead>
                <tr>
                 <th></th>
                 <th>名前</th>
                 <th>評価</th>
                 <th>コメント</th>
                 <th></th>
                </tr>
           </thead>
            <% @comic.reviews.each do |review| %>
           <tbody>
            <tr>
             <th><%= attachment_image_tag review.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
             <th><%= review.user.name %></th>
             <th>
                 <div id="star-rate-<%= review.id %>"></div>
                  <script>
                  $('#star-rate-<%= review.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: "<%= review.rate || nil %>",
                  });
                  </script>
            </th>
             <th> <%= review.body %></th>
             <th><% if review.user == current_user %>
                  <div class="review-delete">
                    <%= link_to "削除", comic_review_path(review.comic, review), method: :delete %>
                  </div>
                <% end %></th>
            </tr>
           </tbody>
            <% end %>
         </table>
    </div>
    </div>
</div>



</div>










<script>
  $('#star').raty({
   size: 36,
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]',
   half: true,
   readOnly: true,
   score: "<%= @comic.reviews.average(:rate).to_f.round(1) %>",
 });

 $('#form_star').raty({
   size: 36,
   starOn: "<%= asset_path('star-on.png') %>",
   starOff: "<%= asset_path('star-off.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'review[rate]',
   half: true,
 });
</script>

