<% if user_signed_in? %>
  <h1>評価ランキング</h1>
  <% @all_ranks.each.with_index(1) do |comic, i| %>
    第
    <%= i %>
    位
    <%= link_to comic_path(comic.id) do %>
      <p><%= attachment_image_tag comic, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></p>
    <% end %>
    <p><%= comic.title %></p>

    <% if comic.favorited_by?(current_user) %>
      <p>
        <%= link_to comic_favorites_path(comic), method: :delete do %>
          ♥<%= comic.favorites.count %>
        <% end %>
      </p>
    <% else %>
      <p>
      <%= link_to comic_favorites_path(comic), method: :post do %>
        ♡<%= comic.favorites.count %>
      <% end %>
      </p>
    <% end %>
    <%= link_to comic_path(comic.id) do %>
      ⭐️<%= comic.reviews.average(:rate).to_f.round(1) %>
    <% end %>
  <% end %>

  <h1>お気に入りランキング</h1>

  <% @all_rank.each.with_index(1) do |comic, i| %>
    第
    <%= i %>
    位
    <%= link_to comic_path(comic.id) do %>
      <p><%= attachment_image_tag comic, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></p>
    <% end %>
    <p><%= comic.title %></p>

    <% if comic.favorited_by?(current_user) %>
      <p>
        <%= link_to comic_favorites_path(comic), method: :delete do %>
          ♥<%= comic.favorites.count %>
        <% end %>
      </p>
    <% else %>
      <p>
      <%= link_to comic_favorites_path(comic), method: :post do %>
        ♡<%= comic.favorites.count %>
      <% end %>
      </p>
    <% end %>
    <%= link_to comic_path(comic.id) do %>
      ⭐️<%= comic.reviews.average(:rate).to_f.round(1) %>
    <% end %>
  <% end %>

<% else %>

 <h1>評価ランキング</h1>
  <% @all_ranks.each.with_index(1) do |comic, i| %>
    第
    <%= i %>
    位
    <%= link_to comic_path(comic.id) do %>
      <p><%= attachment_image_tag comic, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></p>
    <% end %>
    <p><%= comic.title %></p>

      <p>

        ♡<%= comic.favorites.count %>

      </p>

    <%= link_to comic_path(comic.id) do %>
      ⭐️<%= comic.reviews.average(:rate).to_f.round(1) %>
    <% end %>
  <% end %>

  <h1>お気に入りランキング</h1>

  <% @all_rank.each.with_index(1) do |comic, i| %>
    第
    <%= i %>
    位
    <%= link_to comic_path(comic.id) do %>
      <p><%= attachment_image_tag comic, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %></p>
    <% end %>
    <p><%= comic.title %></p>

      <p>
      <%= link_to comic_favorites_path(comic), method: :post do %>
        ♡<%= comic.favorites.count %>
      <% end %>
      </p>
    <%= link_to comic_path(comic.id) do %>
      ⭐️<%= comic.reviews.average(:rate).to_f.round(1) %>
    <% end %>
  <% end %>
<% end %>