<!DOCTYPE html>
<html>
  <head>
    <title>Cominect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>

     <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#"><h2>Cominect</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDoropdown" aria-controls="#navbarNavDoropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDoropdown">
        
         
          
          <ul class="navbar-nav ml-auto">
            
    



    <li class="nav-item active text-black-50">
        <i class= "fas fa-crown  navlink text-light "><%= link_to '人気作品 ', root_path, :style => "color: white;" %></i>
    </li>

    <li class="nav-item">
        <i class="fas fa-book navlink text-light"><%= link_to '作品一覧 ', comics_path, :style => "color: white;"  %></i>
    </li>

    <li class="nav-item">
        <i class= "fas fa-book-medical  navlink text-light"><%= link_to '作品投稿 ', new_comic_path, :style => "color: white;"  %></i>
    </li>

    <li class="nav-item">
      <i class="far fa-user navlink text-light"><%= link_to 'マイページ ', user_path(current_user.id), :style => "color: white;"  %></i>
    </li>

      <li class="nav-item">
        <i class="fas fa-sign-out-alt navlink text-light"><%= link_to "ログアウト ", destroy_user_session_path, method: :delete, :style => "color: white;"  %></i>
      </li>
    <% else %>

    <nav class="navbar navbar-expand-lg navbar-dark  bg-info">
        <a class="navbar-brand" href="#"><h2>Cominect</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDoropdown" aria-controls="#navbarNavDoropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDoropdown">
          <ul class="navbar-nav mr-auto"><h2><%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, :style => "color: yellow;"  %></h2></ul>
          <ul class="navbar-nav ml-auto">


      <li class="nav-item">
         <i class= "fas fa-crown  navlink text-light"><%= link_to '人気作品', root_path, :style => "color: white;"  %></i>
      </li>

      <li class="nav-item active">
        <i class="fab fa-airbnb navlink text-light"><%= link_to 'ABOUT ', home_about_path, :style => "color: white;"  %></i>
      </li>

      <li class="nav-item">
         <i class="far fa-user navlink text-light"><%= link_to "新規登録", new_user_registration_path, :style => "color: white;"  %></i>
      </li>

      <li class="nav-item">
        <i class="fas fa-sign-out-alt navlink text-light"><%= link_to "ログイン", new_user_session_path, :style => "color: white;"  %></i>
      </li>
    <% end %>

    </header>
    <%= yield %>


  </body>
  
  <div class="container content">
</div>
<div class="footer bg-info">
   <div class="container">
      Copyright © 2021 cominect All Rights Reserved.  
   </div>
</div>
</html>
